@import "../../styles/common.styl"

.csv-input
    display: flex
    flex-direction: column
    flex: 1 0 200px

.csv-input__action-bar
    padding: 1rem 0
    flex: 0 0 auto
    display: flex
    justify-content: flex-end

.csv-input__action
    @extend .button

.csv-input__source
    font-family: monospace
    font-size: 1rem
    flex: 1 0 auto